@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

@keyframes moveForward {
    0% {
        transform: translateX(-20px);
        opacity: 0;
        z-index: -1;
    }
    20% {
        transform: translateX(-15px);
        opacity: 1;
        z-index: 1;
    }
    90% {
        transform: translateX(10px);
        opacity: 1;
        z-index: 1;
    }
    100% {
        transform: translateX(10px);
        opacity: 0;
        z-index: -1;
    }
}


.work-item {
    width: 100%;
    height: 100px;
    border: 1px solid $lightGrey;
    border-right: none;
    border-left: none;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1.5fr 1fr;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: linear-gradient(90deg, rgba(25, 29, 58, 1) 0%, rgb(44, 48, 87)
    50%, rgba(25, 29, 58, 1) 100%);

    .work-item-number-container {
        font-family: $buttonFont;
        font-size: large;
        color: $lighViolet;
        justify-self: center;
        padding-left: 3rem;

        .work-item-number {
            width: 17px;
            border-bottom: 3px solid $lighViolet;
            padding-bottom: 1rem;
        }     
    }

    .work-item-title {
        font-family: $buttonFont;
        font-size: 5rem;
        font-weight: light;
        line-height: 1;
    }

    .work-item-description{
        color: $lightGrey;
        line-height: 1.5;
        display: flex;
        align-items: center;
        font-family: $linkFont;
        padding-right: 2.5rem;
        padding-left: 1rem;
    }

    .work-item-skills{
       padding-left: 2.5rem;
       padding-top: 0.5rem;
    }
 
    .work-item-more {
        align-self: center;
        border:1px solid $lightGrey;
        border-radius: 40px;
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 3px;

          .more-icon {            
            font-size: 2rem;
        }
    }

    &:hover .more-icon {
        color: linear-gradient(90deg, $buttonMain 25%, $buttonDark 100%);  
        animation: moveForward 1s infinite;
        opacity: 1; 
        z-index: 1;         
    }
        
    &:hover .work-item-more{
        border-width: 3px;
        border: none;
        background: linear-gradient(to right, $buttonMain, $buttonDark);
    }

}



