@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";
@import "../../styles/shadows.scss";

@keyframes moveForward {
    0% {
        transform: translateX(-20px);
        opacity: 0;
        z-index: -1;
    }
    20% {
        transform: translateX(-15px);
        opacity: 1;
        z-index: 1;
    }
    90% {
        transform: translateX(10px);
        opacity: 1;
        z-index: 1;
    }
    100% {
        transform: translateX(10px);
        opacity: 0;
        z-index: -1;
    }
}


.work-item {
    color: $pavement;
    width: 100%;
    height: 100px;
    box-shadow: $shadowone;
    border-right: none;
    border-left: none;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: $newgrey;
    align-items: center;

    .work-item-number-container {
        font-family: $buttonFont;
        font-size: large;
        color: $pavement;
        justify-self: center;
        padding-left: 3rem;

        .work-item-number {
            width: 17px;
            border-bottom: 3px solid $pavement;
            padding-bottom: 1rem;
        }     
    }

    .work-item-title {
        font-family: $buttonFont;
        font-size: 4rem;
        font-weight: light;
        line-height: 1;
    }

    .work-item-description{
        color: $pavement;
        line-height: 1.5;
        display: flex;
        align-items: center;
        font-family: $linkFont;
        padding-right: 2.5rem;
        padding-left: 1rem;
    }

    .work-item-skills{
       display: grid;
       grid-template-columns: 1fr 1fr;
       align-items: center;
       padding-left: 2.5rem;
       padding-top: 0.5rem;
    }
 
    .work-item-more {
        align-self: center;
        border:3px solid $pavement;
        border-radius: 40px;
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 3px;

          .more-icon {            
            font-size: 2rem;
        }
    }

    &:hover .more-icon {
        animation: moveForward 1s infinite;
        opacity: 1; 
        z-index: 1;         
    }
        
    &:hover .work-item-more{
        border-width: 3px;
        border: 3px solid transparent;
        background-color: $deepcustard;
    }
}

.work-item:hover {
    box-shadow: $shadowtwo;
    border-bottom: inherit;
    background-color: $newgreylight;
    
}



