@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";
@import "../../styles/shadows.scss";

.skill-bubble-container {
    cursor: default;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    font-size: 1.2rem;
    

    .single-bubble-container{
        width: 40px;
        display: grid;
        justify-items: center;
        align-items: stretch;
        font-family: $linkFont;

        .bubble-puncture {
            border-left: 1px dotted white;
            border-width: thick;       
            height: 130px;
            font-size: 6rem;
            margin-top: 0.5rem;
        }
    
        .bubble-icon {
            height: 40px;
            width: 40px;
            border: 1px solid transparent;  
            border-radius: 50px;    
            padding: 1rem;
            box-shadow: $shadowthree;
        }

        .bubble-html{
            background-color: $html;
        }

        .bubble-css{
            background-color: $css;
        }
        
        .bubble-scss {
            background-color: $scss;
        }

        .bubble-javascript {
            background-color: $javascript;
        }

        .bubble-node{
            background-color: $node;
        }

        .bubble-mongodb {
            background-color: $mongo;
        }

        .bubble-react {
            background-color: $react;
        }

    }

    
}