@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";
@import "../../styles/shadows.scss";

.skill-bubble-container {
    cursor: default;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    row-gap: 2rem;
    align-items: center;
    font-size: 1rem;

    .single-bubble-container{
        display: grid;
        justify-items: center;
        align-items: stretch;
        font-family: $linkFont;

        .skill-text{
            padding-bottom: 0.5rem;
        }
    
        .bubble-icon {
            height: 30px; 
            width: 30px; 
            border: 1px solid transparent;  
            border-radius: 50px;    
            padding: 0.5rem;
            box-shadow: $shadowthree;
        }

        // Bubble colors
        .bubble-html { background-color: $html; }
        .bubble-css { background-color: $css; }
        .bubble-scss { background-color: $scss; }
        .bubble-javascript { background-color: $javascript; }
        .bubble-node { background-color: $node; }
        .bubble-mongodb { background-color: $mongo; }
        .bubble-react { background-color: $react; }
    }    
}

@media screen and (min-width: 600px) {
    .skill-bubble-container {
        grid-template-columns: repeat(4, 1fr); 
        font-size: 1.1rem; 

        .single-bubble-container {
            .bubble-icon {
                height: 35px; 
                width: 35px; 
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .skill-bubble-container {
        grid-template-columns: repeat(7, 1fr);

        .single-bubble-container{
            .bubble-puncture {
                border-left: 1px dotted white;
                border-width: thick;  
                height: 20px;     

            }
            .bubble-icon{
                width: 38px;
                height: 38px;
                padding: 0.7rem;
            }
        }
    }
}


@media screen and (min-width: 992px) {
    .skill-bubble-container {
        grid-template-columns: repeat(7, 1fr);
        font-size: 1.2rem; 

        .single-bubble-container {
            .bubble-puncture {    
                height: 100px; 
            }

            .bubble-icon {
                height: 40px; 
                width: 40px; 
                padding: 0.7rem; 
            }
        }
    }
}

@media screen and (min-width: 1210px) {
    .skill-bubble-container{
        .single-bubble-container{
            .bubble-icon{
                padding: 1rem;
            }
        }
    }
}

