@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.topbar-container {
    display: grid;
    grid-template-columns: 2fr 6fr;
    align-items: center;
    padding: 2rem;

    .logo-container{
        font-family: $logoFont;
        font-size: large;
        font-weight: bold;
        color: $pavement;
    }

    .navigation-items{ 
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 2rem;
        
        .nav-items-div{
            display: flex;
            align-content: center;
            .nav-item {
                padding-right: 2rem;
                align-self: center;  
                font-family: $linkFont;      
            }

            .nav-item:hover{
                color: $deepcustard;
            }
    
            .dot{
                font-size: 1.5rem;
                color: $pavement;
                align-self: center;
            }
        }
     

    }
}