@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.styled-button {
    font-family: $buttonFont;
    font-size: 1em;
    color: $pavement;
    padding: 1em 2em;
    border: none;
    border-radius: 35px;
    &.contained {
        background-color:$deepcustard;
    }

    &.outlined {
        border-color: $buttonMain;
        border-width: 3px;
        border-style: solid;
        background: transparent;
    }
}