@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.styled-button {
    font-family: $buttonFont;
    font-size: 1em;
    color: $pavement;
    padding: 1em 2em;
    border: none;
    border-radius: 35px;
    &.contained {
        background-color:$teal;
        border: 3px solid $pavement;       
    }

    &.contained:hover {
        background-color: $deepcustard;
        border: 3px solid transparent;    
    }

    &.outlined {
        border-color: $buttonMain;
        border-width: 3px;
        border-style: solid;
        background: transparent;
    }
}