@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.tinycard-container {
    color: $pavement;

    .tinycard-title{
        font-family: $buttonFont;
        font-size: 1.5rem;
        font-weight: light;

        h1 {
            text-align: right;
        }
    }

    p {
        font-family: $linkFont;
        text-align: right;
        padding-bottom: 1rem;
    }

    ul {
        font-family: $linkFont;
        line-height: 1.6;

        
        li {
            word-spacing: 50px;
        }
    }

}