@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";
@import "../../styles/shadows.scss";

.slider-container {
    width: 500px;
    height: 350px;
    position: "relative";
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    background-color: $newgreylight;
    border-radius: 15px;
    box-shadow: $shadowtwo; 
    cursor: default;
 
    .slider-arrow {
        top: "50%";
        font-size: 2.5rem;
        cursor: pointer;  
        place-self: center center;
        opacity: 0.3;
    }

    .slider-arrow:hover {
        opacity: 1;
    }

    .left-slider-arrow {        
        left: "32px";       
    }

    .right-slider-arrow {
        right: "32px";   
    }

    .slide-container {
        font-family: $linkFont;
        color: $pavement;
        background-position: "center";
        background-size: "cover";
        display: grid;
        grid-template-rows: 3fr 4fr 3fr;
  
        .slide-heading {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .slide-year {
                opacity: 0.3;
            }
        }  

        .slide-content {        
            text-align: right;
            align-self: center;
        }

        .slides-lines-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            .slides-lines {
                cursor: pointer;
                font-size: 40px;
                opacity: 0.3;               
            }

            .current-line {
                opacity: 10;
            }
        }
}
}