@import "../../styles/colors.scss";

.works-two-container {
    padding-bottom: 2rem;
    background-color: $newgrey;
    color: $pavement;
    display: grid;
    justify-items: center;
    .works-two-title {
        padding: 2rem;
    }

    .works-two-description {
        padding: 2rem;
        width: 700px;
        text-align: center;
    }
    .works-two-image {
        justify-self: center;

        img {
            width: 500px;
            height: 300px;
        }
    }
}