@import "../../styles/colors.scss";

.works-two-container {
    padding-bottom: 2rem;
    background-color: $newgrey;
    color: $pavement;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: justify;

    .works-two-title,
    .works-two-description,
    .works-two-comment {
        padding: 2rem;
    }

    .github-link{
        border-bottom: 1px solid $pavement;
    }

    .github-link:hover{
        color: $deepcustard;
        border-color: $deepcustard;
    }

    .works-two-image {
        justify-self: center;

        img {
            width: 400px;            
        }
    }

    .works-two-small-image img {
        width: 400px;
    }    
}

@media screen and (min-width: 600px) {
    .works-two-container{

        .works-two-description,
        .works-two-comment{
            width: 500px;
        }

        .works-two-image {
            padding: 0rem 5rem;
        }

        .works-two-image img{
            width: 100%;
            max-width: 100%;
            justify-self: center;
        }
    }
}

@media screen and (min-width: 768px){
    .works-two-container{
        .works-two-description,
        .works-two-comment{
            width: 650px;
       }
       .short-comment{
        text-align: center;
       }
    }    
}
