@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.footer-container {
    background-color: $primaryMain;
    padding: 2rem;
    margin-top: 0;
    display: flex;
    justify-content: center;
}