@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.alert-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: rgb(78, 78, 68);
    border-radius: 3px;
    color: white;
    width: 420px;
    justify-items: center;
    align-items: center;
    padding: 0.5rem;


    .alert-icon {
        font-size: 3rem;        
      }

      .alert-content {
        font-family: $linkFont;

        .alert-title{
            
        }

        .alert-message {
        
          }
      }

  }

  .success {
    background-color: #35A565;
  }
  

  

  
 
  
