@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";
@import "../../styles/shadows.scss";

.slider-container {
    width: 100%; 
    max-width: 390px; 
    height: 350px; 
    position: relative; 
    display: grid;
    grid-template-columns: 1fr 4fr 1fr; 
    background-color: $newgreylight;
    border-radius: 15px;
    box-shadow: $shadowtwo; 
    cursor: default;

    .slider-arrow {
        top: 50%; 
        font-size: 1.5rem; 
        cursor: pointer;
        place-self: center;
        opacity: 0.3;
    }

    .slider-arrow:hover {
        opacity: 1;
    }

    .slide-container {
        font-family: $linkFont;
        color: $pavement;
        background-position: center; 
        background-size: cover; 
        display: grid;
        grid-template-rows: 3fr 4fr 3fr;

        .slide-heading {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .slide-year, .slide-title {
                opacity: 0.3;
                font-size: 1.5rem;
            }
        }  

        .slide-content {        
            text-align: center;
            align-self: center;
            font-size: 0.9rem; 
        }

        .slides-lines-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            .slides-lines {
                cursor: pointer;
                font-size: 2rem; 
                opacity: 0.3;               
            }

            .current-line {
                opacity: 1; 
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .slider-container {
        max-width: 450px;
    }

    .slider-arrow {
        font-size: 2rem;
    }

    .slide-heading .slide-year, .slide-heading .slide-title {
        font-size: 2rem; 
    }

    .slide-content {
        font-size: 1.1rem; 
    }
}

.slider-container:hover{
    background-color: $newergreylight;
}

@media screen and (min-width: 768px) {
    .slider-container{
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .slider-container {
        max-width: 450px; 
    }
}

@media screen and (min-width: 1210px) {
    .slider-container {
        max-width: 500px;
    }
}