@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.mongodb-icon-container {
    border: 3px solid $teal;
    font-family: $linkFont;
    color: $pavement;
    padding: 0.5rem;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100px;
    height: 20px;
    margin-bottom: 0.5rem;
    .icon {
        color: $custard;
    }
}