@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";
@import "../../styles/shadows.scss";


.not-found-container {
    min-height: calc(100vh - 124px);
    color: $pavement;
    font-family: $linkFont;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;

    h1 {
        padding: 3rem;
    }

    p{
        padding: 0rem 2rem;
        text-align: justify;
    }

    img {
        padding: 2rem;
    }
}

@media screen and (min-width: 600px){
    .not-found-container{
        p{
            width: 500px;
        }
    }
}
