@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.contacts-items {
    color: $pavement;

    .contact-item{
        padding-bottom: 1rem;
        display: flex;
        align-items: center;
        font-family: $linkFont;
        position: relative;

        .icon {
            font-size: 3rem;
            margin-right: 1rem;
        }
        
        .map-container{
            position: absolute;
            top: -270%;
            left: 0;
            right: 0;
            z-index: 10;
        }

        .location-text {
            z-index: 1;
        }
    }
        
    .location {
        cursor: default;
    }

    .contact-item-email,
    .contact-item-link,
    .contact-item-location {
        position: static;
    }

    .contact-item-email:hover{   
            color: $deepcustard;   
    }

    .contact-item {
        &:hover {
            .icon, 
            .contact-item-link {
                color: $deepcustard;
            }
        }
    } 
}