.works-one-container {
    padding-bottom: 2rem;
    background-color: grey;
    display: grid;
    justify-items: center;
    .works-one-title {
        padding: 2rem;
    }

    .works-one-description {
        padding: 2rem;
        width: 700px;
        text-align: center;
    }
    .works-one-image {
        justify-self: center;

        img {
            width: 700px;
            height: 300px;
        }
    }
}