@import "../../styles/colors.scss";

.works-one-container {
    padding-bottom: 2rem;
    background-color: $newgrey;
    color: $pavement;
    display: grid;
    justify-items: center;
    .works-one-title {
        padding: 2rem;
    }

    .works-one-description {
        padding: 2rem;
        width: 700px;
        text-align: center;
    }
    .works-one-image {
        justify-self: center;

        img {
            width: 800px;            
        }
    }
    .works-one-comment{
        padding: 3rem;
    }

    .works-one-small-image{
        img {
            width: 400px;
        }
    }
}