@import "../../styles/colors.scss";

.works-one-container {
    padding-bottom: 2rem;
    background-color: $newgrey;
    color: $pavement;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: justify;

    .works-one-title,
    .works-one-description,
    .works-one-comment {
        padding: 2rem;
    }

    .works-one-comment{
        text-align: center;
    }

    .works-one-image {
        justify-self: center;

        img {
            width: 400px;            
        }
    }

    .works-one-small-image img {
        width: 400px;
    }    
}

@media screen and (min-width: 600px) {
    .works-one-container{

        .works-one-description{
            width: 500px;
        }

        .works-one-image {
            padding: 0rem 5rem;
        }

        .works-one-image img{
            width: 100%;
            max-width: 100%;
            justify-self: center;
        }
    }
}

@media screen and (min-width: 768px){
    .works-one-container{
        .works-one-description,
        .works-one-comment{
            width: 650px;
       }
       .short-comment{
        text-align: center;
       }
    }    
}
