@import "../../styles/colors.scss";

.main-container {
    background-color: $primaryDark;
    padding-bottom: 1rem;
    display: grid;
    grid-template-rows: 3fr 2fr;
    
    .container-slides {

    }

}

