@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.main-container {
    margin: 0 3rem;
    display: grid;
    color: $pavement;
    cursor: default;
    
    .container-slides {
        padding-bottom: 1.3rem;
        display: grid;
        justify-items: stretch;
        align-items: center;
        font-family: $buttonFont;
        padding-top: 4rem; // Mobile padding top

        .container-slides-title {
            padding-bottom: 3rem;
            font-size: 2rem; // Mobile font size
            justify-self: center;
        }

        .bubble-and-slider {
            display: grid;
            grid-template-columns: 1fr; // Mobile single column
            gap: 2rem; // Adjust as needed for mobile
            align-items: center;
            row-gap: 4rem; // Increased gap for mobile layout

            .image-slider-main {
                justify-self: center; // Centered for mobile
            }
        }        
    }
}

// Media queries for progressively larger screens
@media screen and (min-width: 600px) {
    .main-container {
        margin: 0 3rem; // Adjust margin if necessary

        .container-slides {
            .container-slides-title {
                font-size: 3rem; // Adjusted font size for larger screens
            }
            .bubble-and-slider {
                grid-template-columns: 1fr; // Adjust layout as needed for this breakpoint
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .main-container {
        .container-slides {
            .bubble-and-slider {
                grid-template-columns: 1fr 1fr; // Two-column layout for larger screens
                gap: 2rem; // Adjust gap as needed
                .image-slider-main {
                    justify-self: end; // Align to end for larger screens
                }
            }
        }
    }
}

// Add additional media queries as needed for larger breakpoints

