@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.main-container {
    margin: 0 2rem;
    display: grid;
    justify-items: center;
    color: $pavement;
    cursor: default;
    padding-bottom: 2rem;
    min-height: calc(100vh - 50px - 74px);  
   
    .container-slides {
        padding-bottom: 1.3rem;
        display: grid;
        justify-items: stretch;
        align-items: center;
        font-family: $buttonFont;
        padding-top: 4rem; 

        .container-slides-title {
            padding-bottom: 3rem;
            font-size: 2rem; 
            justify-self: center;
            text-align: center;
        }

        .bubble-and-slider {
            display: grid;
            grid-template-columns: 1fr; 
            gap: 2rem; 
            align-items: center;
            row-gap: 4rem; 

            .image-slider-main {
                justify-self: center;
            }
        }        
    }
}

@media screen and (min-width: 600px) {
    .main-container {
        margin: 0 3rem; 

        .container-slides {
            .container-slides-title {
                font-size: 3rem; 
            }
            .bubble-and-slider {
                grid-template-columns: 1fr; 
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .main-container {
        .container-slides {
            .bubble-and-slider {
                gap: 2rem; 
                .image-slider-main {
                    justify-self: center; 
                }
            }
        }
    }
}

@media screen and (min-width: 992px){
    .main-container{
        .container-slides{
            padding-top: 5rem;
            .bubble-and-slider{
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}