$primaryMain: #ffffff;
$primaryDark: #cfcfcf;

$buttonMain: #7FBAA0;
$buttonDark: #43A29C;

$lighViolet: #25262c;
$lightGrey: #878aa8;
$darkGrey: #474d75;
$lightYellow: #fff12d;

$textMain: #000;
$textSecondary: #494e4e;

// new colors
$teal: #026670;
$electric: #9FEDD7;
$sunny: #FEF9C7;
$custard: #FCE181;
$deepcustard: #f09e54;
$pavement: #EDEAE5;
$newgrey: #1f2c3c;
$newgreylight: #28384d;
$error: red;

// bubble colors

$html: #e54d26;
$css: #33a9db;
$scss: #c16b9c;
$javascript: #f0db4f;
$node: #8fc43e;
$mongo: #3e9c36;
$react: #00d5fd;

