$primaryMain: #ffffff;
$primaryDark: #cfcfcf;

$buttonMain: #7FBAA0;
$buttonDark: #43A29C;

$lighViolet: #25262c;
$lightGrey: #878aa8;
$darkGrey: #474d75;
$lightYellow: #fff12d;

$textMain: #000;
$textSecondary: #494e4e;