@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.hero-container {
    display: grid;
    grid-template-columns: 1fr; 
    justify-items: center; 

    .hero-image-container {
        .hero-image {
            width: 350px; 
            height: 250px; 
            border-radius: 20px;
            border: 10px solid rgba(31, 44, 60, 0.5); 
        }        
    }

    .hero-description {
        display: grid;
        grid-template-rows: auto; 
        justify-items: center; 
        color: $pavement; 
        padding-top: 3rem; 
        padding-bottom: 2rem;

        .hero-description-top {
            align-self: flex-end;
        }
        
        .hero-description-middle {
            font-family: $buttonFont;
            font-size: 4rem; 
            font-weight: light;
            margin: 0;
            text-align: center; 
        }

        .hero-beads {
            align-self: flex-start;  
            padding-top: 3rem; 
            padding-bottom: 1rem; 
        }

        .hero-description-bottom {
            align-self: flex-start;
            color: $pavement;
            justify-self: center;
            font-family: $linkFont;
            justify-items: center;
            width: 300px; 
            text-align: center; 
        }
    }
}

@media screen and (min-width: 600px) {
    .hero-container {
        grid-template-columns: 1fr; 

        .hero-image-container .hero-image {
            width: 450px; 
            height: 350px; 
        }

        .hero-description {
            .hero-description-middle {
                font-size: 5rem; 
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .hero-container {
        .hero-description{
            padding: 0rem;

            .hero-description-middle{
                padding-top: 2rem;
                font-size: 5rem;
            }
        }
        .hero-image-container .hero-image {
            width: 480px; 
            height: 380px; 
        }
    }
}

@media screen and (min-width: 992px) {
    .hero-container {
        grid-template-columns: 1fr 1fr;

        .hero-description {
               .hero-description-top{
                justify-self: end; 
                text-align: end;
            }

            .hero-description-middle {
                font-size: 5rem;
                justify-self: end;
                text-align: end;
                line-height: 100%;
            }

            .hero-beads{
                justify-self: end;
                text-align: end;
            }

            .hero-description-bottom {
                width: 250px;
                justify-self: end; 
                text-align: end;
            }
        }
    }
}

@media screen and (min-width: 1210px){
    .hero-container{
        .hero-description{
            .hero-description-middle{
                font-size: 6rem;
            }
        }
    }

}

