@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .hero-image-container {
            overflow: hidden;
            border-radius: 20px; 
            border: 10px solid rgb(31, 44, 60, 0.5); 
          
        .hero-image {
            width: 90%;                      
        }        
    }

    .hero-description {
        display: grid;
        grid-template-rows: 2fr 2fr 1fr 2fr;
        justify-items: right; 
        color: $pavement; 

        .hero-description-top {
            align-self: flex-end;
        }
        
        .hero-description-middle {
            font-family: $buttonFont;
            font-size: 6rem;
            font-weight: light;
            margin: 0;
        }

        .hero-beads {
            align-self: flex-start;            
        }

        .hero-description-bottom {
            align-self: flex-start;  
            color: $pavement;
            justify-self: flex-end;
            font-family: $linkFont;
            
            .hero-bottom {
                width: 250px;
                text-align: end;
            }
        }
    }
}